@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&family=Source+Serif+Pro:wght@700&display=swap');

body { font-family: 'Mulish', sans-serif; font-size: 100%;}

h1 { font-family: 'Source Serif Pro', serif; font-weight: 700; font-size: 5rem;}
.col-lg-7 { font-weight: 400;  padding-left: 2em; }
.col-lg-7 h1 + div p { font-weight: 300; font-size: 1.3rem; margin-bottom: 2.6em;}
.col-lg-7 div + p { text-transform: uppercase; }
img { width: 90%;}
/* puedo si quiero modificar cualquier elemento desde mi propio css
.navbar-toggler-icon { background-color: red !important; }*/
.contenido { width:70%;}


button { background-color: transparent; border: 1px solid black; margin-right: 1em;}
button:nth-of-type(2) { background-color: black; color: white;}


